.user-wrapper{
    height: calc(100% - 66px);
    display:flex;
}

.user-wrapper .left-sidebar{
    flex: 2;
    height: 100vh;
    background: #74cfee;
}

.user-wrapper .left-sidebar ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    color: aliceblue;
}

.user-wrapper .left-sidebar ul li a:Link{
    text-decoration: none;
    cursor: auto;
}  
.user-wrapper .left-sidebar ul li a{
    padding: 18px;
    display: block;
    border-bottom: 1px solid rgb(150, 241, 150);
}

.user-wrapper .left-sidebar ul li a:hover{
    background: #47eb8b;

}

.user-wrapper .user-content{
    flex: 8;
    height: 100%;
    padding: 40px 100px 100px;
    /* overflow: scroll; */
}

 
 
.fa-user{
    margin-right: 0.2rem;
    margin-left: 0.5rem;
    font-size: 1.3rem;
}

.fa-edit{
    margin-right: 0.1rem;
    margin-left: 0.5rem;
    font-size: 1.1rem;
}

.fa-sign-out-alt{
    margin-right: 0.2rem;
    margin-left: 0.5rem;
    font-size: 1.2rem;
}

.fa-apple-alt{
    margin-right: 0.35rem;
    margin-left: 0.5rem;
    font-size: 1.2rem;
}

.fa-walking{
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    font-size: 1.2rem;
}