.user-wrapper{
    height: calc(100% - 66px);
    display:flex;
}

.user-wrapper .left-sidebar{
    flex: 2;
    height: 130vh;
    background: #74cfee;
}

.user-wrapper .left-sidebar ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    color: aliceblue;
}

.user-wrapper .left-sidebar ul li a:Link{
    text-decoration: none;
    cursor: auto;
}  
.user-wrapper .left-sidebar ul li a{
    padding: 18px;
    display: block;
    border-bottom: 1px solid rgb(150, 241, 150);
}

.user-wrapper .left-sidebar ul li a:hover{
    background: #47eb8b;

}

.user-wrapper .user-content{
    flex: 8;
    height: 100%;
    padding: 40px 100px 100px;
    /* overflow: scroll; */
}

 
 
.fa-user{
    margin-right: 0.2rem;
    margin-left: 0.5rem;
    font-size: 1.3rem;
}

.fa-edit{
    margin-right: 0.1rem;
    margin-left: 0.5rem;
    font-size: 1.1rem;
}

.fa-sign-out-alt{
    margin-right: 0.2rem;
    margin-left: 0.5rem;
    font-size: 1.2rem;
}

.fa-apple-alt{
    margin-right: 0.35rem;
    margin-left: 0.5rem;
    font-size: 1.2rem;
}

.fa-walking{
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    font-size: 1.2rem;
}


.user-wrapper .users-content{
    flex: 8;
    height: 100vh;
    padding: 40px 100px 100px;
    /* overflow: visible; */
    background: linear-gradient(135deg, #71e2e6, rgb(63, 97, 247));
}

/* .picpro{
    border-radius: 100%;
} */

.change-profile{
max-width: 800px;
width: 100%;
background: #fff;
padding: 25px 30px;
border-radius: 5px;
}

.change-profile .tile-edit{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.change-profile .tile-edit::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 35px;
    background: linear-gradient(90deg, rgb(51, 212, 18) 0%, rgb(34, 151, 230) 100%);
}

.change-profile form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100%/2 -20px);
}
.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}


.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: #51c1c5;
}


form .gender-details .gender-title{
    font-size: 20px;
    font-weight: 500;
}

form .gender-details .category{
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
}
.gender-details .category label{
    display:flex;
    align-items: center;

}

.gender-details .category .dot{
    height: 18px;
    width: 18px;
    background: #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;
    transition: all 0.15s ease;
}

#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three
{
    border-color: #d9d9d9;
    background: #51c1c5;
}

form input[type="radio"]{
    display:none;
}

form .button_sub{
    height: 45px;
    margin: 45px 0;

}

form .button_sub input{
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    background: linear-gradient(135deg,  #71e2e6, rgb(63, 97, 247))
}

form .button_sub input:hover{
    background: linear-gradient(-135deg,  #71e2e6, rgb(63, 97, 247))
}


@media screen and (max-width: 584px){
    /* .users-content{
      display: block;
      height: 100%;
    }
    .change-profile{
        display: block;
      height: 100%;
    } */
    form .user-details .input-box{
        margin-bottom: 15px;
        width: 100%;

    }
    form .gender-details .category{
        width: 100%;

    }

    .change-profile form .user-details{
        max-height: 300px;
        overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
        width: 20;
    }

}