.diet-title {
  position: relative;
}

.dietback {
  background: url("../../images/dietback.jpg");
  padding: 62px;
  background-position: center;
  background-size: 36cm;
}

.diet-title > h1 {
  color: rgb(167, 29, 29);
  font-size: 50px;
}

.diet-title > p {
  color: rgb(247, 244, 244);
  font-size: 18px;
}

.drow {
  padding-top: 10vh;
  padding-right: 10vh;
}

.drow:after {
  padding: 40px;
  content: "";
  display: table;
  clear: both;
}

.dcolumn {
  float: left;
  width: 33.33%;
  padding-bottom: 8vh;
  padding: 2vh;
}

.dcolumn > button {
  background: url("../../images/dback.jpg");
  background-size: cover;
  padding: 15px;
  border-color: rgb(0, 0, 0);
  border-radius: 10px;
  cursor: pointer;
  height: auto;
  width: auto;
}

.dcolumn > button > h2 {
  font-size: 23px;
  text-decoration: underline;
}

.dcolumn > button > p {
  font-size: 14px;
}
